h1, h2 {
    text-align: center;
}

/* Div to hold main game */
#MainDiv {
    height: 335px;
    width: 85vw;
    border-style: dotted;
    border-width: 1px;
    z-index: 3;
    border-color: darkgray;
    overflow: hidden;
    margin: auto;
}

/* Game div */
#MainGameDiv {
    height: 320px;
    width: 85vw;
    border-style: none;
    border-width: 0px;
    z-index: 3;
    border-color: darkgray;
    overflow: hidden;
    margin: auto;
    position: relative;
}
/* Game Play Area */
#GameBoard {
    height: 320px;
    width: 85vw;
    border-style: none;
    border-width: 0px;
    z-index: 1;
    border-color: darkgray;
    overflow: hidden;
    margin: auto;
    position: relative;
    visibility: hidden;
}
#GameOverFail{
    height: 320px;
    width: 85vw;
    border-style: none;
    border-width: 0px;
    z-index: 1;
    border-color: darkgray;
    overflow: hidden;
    margin: auto;
    position: relative;
    visibility: hidden;
}

/* Intro Screen */
#IntroScreenDiv {
    height: 50%;
    width: 50%;
    border-style: none;
    border-width: 0px;
    z-index: 3;
    border-color: darkgray;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 50%;
    text-align: center;
    visibility: hidden;
}
/* Div to hold the date into the Trump presidency */
#ProgressDate {
    height: 20px;
    width: 85vw;
    border-style: none;
    border-width: 0px;
    z-index: 3;
    border-color: darkgray;
    overflow: hidden;
    margin: auto;
    font-size: 18px;
    font-style: bold;
    text-align: center;
}

#JumpingTrump {
    height: 220px;
    width: 260px;
    background-image: url("../assets/trump2.png"); 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    top: 70px;
    z-index: 10;
    left:0;
}

#tweetscandal {
    height: 80px;
    width: 200px;
    border-style: dotted dashed;
    border-width: 1px;
    z-index: 3;
    border-color: darkgray;
    overflow: hidden;
    margin: auto;
    position: relative;
    left: 450px;
}

#GameOver{
    height: 180px;
    width: 420px;
    border-style: dotted dashed;
    border-width: 1px;
    z-index: 3;
    border-color: darkgray;
    overflow: hidden;
    margin: auto;
    position: relative;
    left: 20px;
    top: 20%;
}

#GameJumpButtonDiv {
    height: 35%;
    width: 12%;
    z-index: 99999;
    float: right;
    position:absolute;
    right: 0;
    bottom: 0;
}

.MainButtons {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:22px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.MainButtons:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.MainButtons:active {
	position:relative;
	top:1px;
}


.JumpButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:32px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
    .JumpButton:hover {
	background-color:#5cbf2a;
    }
    .JumpButton:active {
	position:relative;
	top:1px;
    }

/* jump animation to add to Trump div when button clicked */
.animate{
    animation: jump 0.9s linear;
}
@keyframes jump{
    0%{top: -50px;}
    30%{top: -20px;}
    70%{top: 20px;}
    100%{top: 70px;}
}

.startMoving {
    animation: barrier 2s infinite linear;
}
@keyframes barrier {
    0%{left:100%;}
    100%{left:-85%;}
}